
body
{


background-repeat: no-repeat;
    background-size:cover;
     margin-left:0;
    margin-right:0;
    margin-top:0;
    margin-bottom:0px;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-position: center;
 }
.container
 {
	 width:127px;
	 height:110px;
     margin-top: -10px;
     margin-left: 0px;
	 background:rgba(0,0,0,0.7);
     border-radius: 5px;
     text-align: center;
 }
  .container a
 {

	 margin-bottom: 0px;
	 margin-left:1200px;
	 color:white;
     text-decoration: none;
     font-family: "Times New Roman", Times, serif;
 }
 
.container img
{
    height:110px;
    width:110px;
    margin-top: 0px;
    margin-left: -380px;
    margin-right: 0px;
}
.container h1
{
    color: bisque;
    margin-top: -80px;
    
}


.container1
{
    width:1270;
    height: 20px;
    margin-top: 10px;
     margin-left: 0px;
	 background:rgba(0,0,0,0.7);
     border-radius: 5px;
     text-align: center;
 
}

.container1  a
 {
    color: azure;
     margin-top: -20px;
     margin-left: 10px;
     margin-right: 10px;
	 background:rgba(0,0,0,0.7);
     border-radius: 40px;
     text-align: center;
     text-decoration: none;
         float:center;
     
    
}

.container h3   
{
	margin-left: 1050px;
    margin-top:20px;
	color:white;
}
.adminbox
{
    margin-top: 40PX;
    margin-left: 180px;
    width: 950px;
    height: 400px;
    border-bottom-style: solid;
    background:rgba(0,0,0,0.7);
        border-style: solid;
        
        
}
.adminbox a
{
    margin-top: 60px;
    margin-left:70px;
	 color:white; 
    font-family: monospace;
    font-size: 20px;
    
}