
body
{

    background-repeat: no-repeat;
    background-size:cover;
     margin-left:0;
    margin-right:0;
    margin-top:0;
    margin-bottom:0px;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-position: center;
    
 }
.container
 {
	 width:150x;
	 height:110px;
     margin-top: 0px;
     margin-left: 0px;
	 background:	#404040;
     border-radius: 5px;
     text-align: center;    
 }


  .container a
 {

     margin-bottom: 0px;
	 margin-left:1200px;
	 color:white;
     text-decoration: none;

 }
 
.container img
{
    height:110px;
    width:120px;
    margin-top: 0px;
    margin-left: -380px;
    margin-right: 0px;
}
.container h1
{
    color: bisque;
    margin-top: -80px;
    
}


.details
{
     margin-top: 20px;
    margin-right: 0px;
    color: aqua;
    margin-left: 0px;
    margin-bottom: 0px;
    top:30px;
}
.box
{ 
    margin-top: 10px;
    width: 670px;
    height: 400px;
     background:rgba(0,0,0,0.7);
    margin-bottom:00px;
}

.box table.table5
{
    margin-top: 0px;
    margin: inherit;
    margin-bottom: 0px;
}
.box img
{
    width: 100px;
    height: 100px;
}
.box p
{ 
    text-align: center;
}


.details a
{
    color:whitesmoke;
    cursor: pointer;
    padding: 10px 0px;
    text-decoration: none;
    font-size: 15px;
    background-color:;
    font-weight:200;
    text-indent: 50px;
    font-family: "Times New Roman", Times, serif;
}



.details table.table3
{
    margin-top: 30px;
    top: 290px;
    position: fixed;
}

.logos
{
    margin-top: 10px;
    margin-right: 59px;
    color: aqua;
    margin-left: 1200px;
    margin-bottom: 200px;
    top:0px;
}
.logos table.table1
{
    top: 180px;
    position: fixed;
}


table.table1 img
{
    height: 40px;
    width: 35px;
    margin-top: px;
    
}


.navbar
{

    width:1250;
    height: 25px;
    margin-top: 8px;
     margin-left: 0px;
	 background:rgba(0,0,0,0.7);
     border-radius: 5px;
     text-align: center;  
       
 
}

.navbar  a
 {
    color: azure;
     margin-top: -20px;
     margin-left: 10px;
     margin-right: 10px;
	 background:;
     border-radius: 40px;
     text-align: center;
     text-decoration: none;
         float:center;
     font-family: "Times New Roman", Times, serif;
       
}





.footer

{
    width:120x;
	 height:20px;
     margin-top: 400px;
     margin-left: 0px;
	 background:rgba(0,0,0,0.7);
     border-radius: 5px;
     text-align: center;
    bottom: 0px;
}
.footer h5
{
    color: aliceblue;
  
}



