body
{

background-repeat: no-repeat;
    background-size:cover;
     margin-left:0;
    margin-right:0;
    margin-top:0;
    margin-bottom:0px;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-position: center;
    
 }

.container
 {
	 width:350px;
	 height:310px;
     margin-top: -100px;
     margin-left: 480px;
	 background:rgba(0,0,0,0.7);
     border-radius: 30px;
     text-align: center;
 }

 
 
.container img
{
width: 130px;
    height: 130px;
    margin-top: -60px;
    margin-bottom: 20px;
    
}
input[type="text"],input[type="password"]
{
    width: 180px;
    height: 38px;
    margin-bottom: 20px;
    font-size: 17px;
    border;1px solid #000;
    padding-left: 45px;
    
}
input[type="submit"]
{
    padding: 10px 15px;
    background: #150;
    color: #ffff;
    border: none;
    margin-bottom: 10px;
    cursor: poniter;

     border;1px solid #000;
}

input[type="button"]
{
	padding: 10px 15px;
    background: #150;
    color: #ffff;
    border: 10px;;
    margin-bottom: 10px;
    cursor: poniter;

}

a{
    text-decoration: none;
    color:aliceblue;
    
}
 a:hover
{
    color: #150;
    
}
.cust
{
    position:absolute;
    background: #ffff;
    margin-right: 18px;
    margin-top: 1px;
    width: 35px;
    
    height: 30px;
    padding-top: 8px;
    border: 1px solid #fff;
}


.menu
 {
	 width:1280px;
	 height:110px;
     margin-top: 0px;
     margin-left: 0px;
	 background:rgba(0,0,0,0.7);
     border-radius: 5px;
     text-align: center;
 }
.menu img
{
    height:110px;
    width:110px;
    margin-top: 0px;
    margin-left: -300px;
    margin-right: 0px;
}
.menu h1
{
    color: bisque;
    margin-top: -80px;
    margin-left: 50px;
    
}
.details
{
     margin-top: 20px;
    margin-right: 0px;
    color: aqua;
    margin-left: 0px;
    margin-bottom: 0px;
    top:30px;
}


.details a
{
    color:whitesmoke;
    cursor: pointer;
    padding: 10px 0px;
    text-decoration: none;
    font-size: 15px;
    background-color:;
    font-weight:200;
    text-indent: 50px;
    font-family: "Times New Roman", Times, serif;
}



.details table.table3
{
    margin-top: 30px;
    top: 290px;
    position: fixed;
}

.logos
{
    margin-top: 10px;
    margin-right: 59px;
    color: aqua;
    margin-left: 1200px;
    margin-bottom: 200px;
    top:0px;
}
.logos table.table1
{
    top: 180px;
    position: fixed;
}


table.table1 img
{
    height: 40px;
    width: 35px;
    margin-top: px;
    
}


.container1
{
    width:1280px;
    height: 22px;
    margin-top: 10px;
     margin-left: 0px;
	 background:rgba(0,0,0,0.7);
     border-radius: 5px;
     text-align: center;
 
}

.container1  a
 {
    color: azure;
     margin-top: -20px;
     margin-left: 10px;
     margin-right: 10px;
	 background:rgba(0,0,0,0.7);
     border-radius: 40px;
     text-align: center;
         float:center;
     
    
}
